{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/pages/login.css') }}"/>
{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <main>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
{#                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
        <form name="user" method="post">
            <div><label for="inputEmail" class="required">Email</label><input type="email" value="{{ last_username }}" id="inputEmail" name="email" required="required" class="form-control"></div>
            <div><label for="inputPassword" class="required">Password</label><input type="password" id="inputPassword" name="password" required="required" class="form-control"></div>
            <button class="btn btn-lg btn-primary button primary" type="submit">Login</button>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
    </form>

    </main>
{% endblock %}
