{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/pages/login.css') }}"/>
{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}


    <main>

        {{ form_start(form) }}
        <h1 class="h3 mb-3 font-weight-normal">Register here</h1>
        {% for message in app.flashes('error') %}
            <div class="alert alert-failed">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.password.first, {'attr': {'class':'form-control'}}) }}
            {{ form_row(form.password.second, {'attr': {'class':'form-control'}}) }}
            <button class="btn btn-lg btn-primary button primary" type="submit">
                Register
            </button>
        {{ form_end(form) }}

    </main>
{% endblock %}
