{% extends 'base.html.twig' %}


{% block title %}List Bookings!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/pages/listBookings.css') }}"/>
{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <main>

        <section class="bookings">
            <h1 class="h3 mb-3 font-weight-normal">List of reservations</h1>
            <div class="bookings__list">
                {% for b in bookings %}
                    <div class="booking__item">
                        <span class="email">{{ b.user.email }}</span>
                        <span class="reservation">Reservation</span>
                        <span class="date">{{ b.datetime | date('d.m.Y.') }} </span>
                        <span class="time">{{ b.datetime | date('H:i') }}h </span>
                        <div class="cta">
                            <a href="{{ path('edit_booking', {bookingId: b.id}) }}" class="button-wrapper"><div class="button secondary">Edit</div></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

    </main>

{% endblock %}
