{% extends 'base.html.twig' %}


{% block title %}List Bookings!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/pages/listBookings.css') }}"/>
{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <main>

        <section class="bookings">
            {% for message in app.flashes('error') %}
                <div class="alert alert-failed">
                    {{ message }}
                </div>
            {% endfor %}
            <h1 class="h3 mb-3 font-weight-normal">List of reservations</h1>
            {% if bookings|length == 0 %}
                <span>You don't have any reservations yet</span>
            {% endif %}
            <div class="bookings__list">
                {% for b in bookings %}
                    <div class="booking__item">
                        <span class="email"><a href="{{ path('list_bookings_by_user', {userId: b.user.id}) }}">{{ b.user.email }}</a></span>
                        <span class="reservation">Reservation</span>
                        <span class="date">{{ b.datetime | date('d.m.Y.') }} </span>
                        <span class="time">{{ b.datetime | date('H:i') }}h </span>
                        <div class="cta">
                            {% if is_granted('ROLE_USER') -%}
                            <a href="{{ path('edit_booking_auth', {bookingId: b.id}) }}" class="button-wrapper"><div class="button secondary">Edit</div></a>
                            {% elseif is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('edit_booking', {bookingId: b.id}) }}" class="button-wrapper"><div class="button secondary">Edit</div></a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

    </main>

{% endblock %}
